@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.woff) format("woff"),
  url(../fonts/roboto.woff2) format("woff2");
url(../fonts/robotobold.woff) format("woff"),
url(../fonts/robotobold.woff2) format("woff2"),
url(../fonts/robotomedium.woff) format("woff"),
url(../fonts/robotomedium.woff2) format("woff2");
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;

}

.fon-1 {
  background-color: #849d8f;

}

.fon-2 {
  background-color: #8996a6;
}

.fon-3 {
  background-color: #9d8b84;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header,
.main-content,
.main-footer {
  width: 1146px;
  padding: 0 27px 0 27px;
  margin: 0 auto;
}


.main-header-logo img {
  margin-top: 9px;
}

.site-navigation {
  list-style: none;
  margin: 0 0 0 9px;
  padding: 0;
}

.site-navigation a {
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 0 15px;

}

.main-navigation-underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.main-navigation-underline:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.main-navigation-underline:active {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.navigation-underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}


.navigation-underline:hover{
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);

}

.navigation-underline:active{
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}
.navigation-item > a:hover {
  color: #323232;
  background-color: rgba(248, 247, 244, 1);
  border-radius: 20px;
  text-decoration: none;
  padding: 7px 15px;

}

.navigation-item > a:active {
  box-shadow: inset 0 2px 1px 0 #696969;
  background-color: #ededed;
}


.navigation-item {
  position: relative;
}

.user-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-navigation a {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.user-navigation a {
  background-color: rgba(255, 255, 255, 0.2);

}

.user-search a {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-search a:hover {
  background-color: rgba(255, 255, 255, 1);
}

.user-search a:hover path {
  fill: #323232;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.user-navigation {
  display: flex;
  margin: 0 0 0 auto;
}

.user-navigation li {
  margin: 0 10px 0 0;
}

.user-navigation li:last-child {
  margin-right: 0;
}

.site-navigation {
  display: flex;

}

.user-link a,
.user-cart a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px 9px 45px;
  border-radius: 20px;
  position: relative;
}

.icon-enter,
.icon-cart {
  position: absolute;
  left: 17px;
}

.user-link a:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
}

.user-link a:hover path {
  fill: #323232;
}

.site-navigation-submenu p {
  padding: 0;
  margin: 0;

}

.site-navigation-submenu {
  position: absolute;
  left: 1px;
  display: none;
  margin: 0;
  padding: 0 0 8px 0;
  list-style: none;
  background-color: rgba(248, 247, 244, 1);
  border-radius: 5px;
  width: 144px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}


.site-navigation .site-navigation-submenu a {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-weight: 400;
  display: block;
  padding: 8px 20px;
}

.site-navigation-submenu p {
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-weight: 700;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.site-navigation > li:hover .site-navigation-submenu {
  display: block;
}

.site-navigation-submenu a:hover {
  background-color: #fbded7;
}

.site-navigation-submenu a:active {
  background-color: #f6b5a5;
}

.fon-1 {
  background: url(../img/content/ice-cream-1.png) no-repeat 41% 83px,
  url(../img/content/ice-cream-2.png) no-repeat 60% 126px,
  url(../img/content/light.png) no-repeat 50% 0 #849d8f;
}

.slider{
  position: relative;
  margin-bottom: 41px;
}


.slider h2 {
  margin-top: 277px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 29px;
}

.btn {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);


}

/*noinspection CssInvalidFunction*/
.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-btn {
  display: flex;
  margin: 0 auto;
  width: 280px;
  justify-content: center;
  font-size: 32px;
  line-height: 1.38;
  padding: 10px 0;
  border-radius: 30px;
}


.header-contact {
  text-align: right;
}

.header-time-mode {
  padding: 0;
  margin: -4px 0 0 0;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.header-phone {
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  padding: 0;
  margin: 5px 0 0 0;
}

.slider-check{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  top: 170px;

}

.slider-check-input{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
}

.check-box{
  position: absolute;
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.slider-check li{
  margin-right: 30px;
}

.slider-check-input:checked + .check-box {
   background-color: #fff;
}

.check-box:hover{
  cursor: pointer;
  background-color: rgba(255,255,255,0.4);
}

.offer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.offer-left,
.offer-right{
  width:560px;
  padding: 16px 16px 58px 16px;

}

.offer h3 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 35px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.offer-left{
  background-image: url(../img/content/raspberry-background.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 528px;
}

.offer-right{
  background-image: url(../img/content/chocolate-backround.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 528px;
}

.offer p{
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 18px 0 55px 4px;
}


.offer-left,
.offer-right{
  position: relative;

}
.offer-btn{
  position: absolute;
  padding: 12px 23px;
  right: 21px;
  bottom: 23px;
}

.product{
  margin-bottom: -11px;
}


.product-list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1146px;


}
.product-item img{
  border-radius:50%;
  align-self: center;
  z-index: 3;

}

.product-item{
  width: 267px;
  min-height: 324px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 38px;

}

.product-item::after{
  content: "";
  position: absolute;
  top:-8px;
  left: -13px;
  width: 293px;
  height: 405px;
  border-radius: 5px;
}

.product-price {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: relative;

}

.product-weight{
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 30px;
}

.product-price::after{
  content: "";
  position:absolute;
  background-image: url(../img/svg/ruble.svg);
  background-repeat: no-repeat;
  width: 31px;
  height: 36px;
  top:10px;
  left: 80px;
}

.product-item a{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: block;
  margin-top: 10px;
  align-self: center;
  margin-bottom: 15px;
  z-index: 6;
}

.product-item a:hover{
  color: #ffbc9e;
}

.wrapper-price{
  position: absolute;
  top: 209px;
  z-index: 5;
}

.hit::before {
  content: "";
  position: absolute;
  background-image: url(../img/svg/hit.svg);
  background-repeat: no-repeat;
  width: 61px;
  height: 61px;
  z-index:4;
}

.product-item:hover::after{
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  z-index:1;

}

.product-item:hover > .product-btn,
.product-item:focus > .product-btn{
  display: block;
  z-index:2;

}

 .product-btn{
  position: absolute;
  bottom: -63px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #fefefe;
  padding: 11px 16px;
  align-self: center;
  border:none;
  display: none;
  margin: 0 0 22px;
  cursor: pointer;
}

 .features{
   background-color: #eee2c9;
   background-image: url(../img/content/wafer-background.jpg);
   border-radius: 10px;
   padding: 25px 33px 11px 21px;
   margin-bottom: 41px;

 }

.features h3 {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

.features-list{
  padding:0 0 0 0;
  margin: 0 0 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item p{
  margin: 0;
  padding-left: 60px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

.features-list li:nth-child(2n) p{
  padding-left: 75px;
}
.features-list li{
 position: relative;
 width: 50%;
 margin-bottom: 9px;
  margin-top: 18px;

}
.ice-cream::before{
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url(../img/svg/ice-cream.svg);
  top: -10px;
  left:0;
}

.cow::before{
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url(../img/svg/cow.svg);
  top: -10px;
  left: 18px;
}

.thermometer::before{
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url(../img/svg/thermometer.svg);
  background-repeat: no-repeat;
  top: -16px;
  left: 18px;
}

.eco::before{
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url(../img/svg/eco.svg);
  background-repeat: no-repeat;
  top: -16px;
  left: 0;
}

.column{
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;

}

.news-blog{
  background-color: #fff;
  background-image: url(../img/content/strawberry-background.jpg);
  width: 545px;
  min-height: 194px;
  border-radius: 15px;
  padding-top: 26px;
  padding-left: 15px;
  background-repeat: no-repeat;
}

.news-blog p{
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

.news-blog a{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  text-decoration: underline;
}



.subscription {
  width: 530px;
  padding-top: 29px;
  padding-left: 20px;
  border: 5px solid #f8f7f4;
  border-image: url(../img/content/subscription-background.png) 5 round round;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscription p{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5a5a5a;
  margin: 0;
}

.subscription-input{
  width: 368px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 15px;
  box-sizing: border-box;
}

.subscription-input::-webkit-input-placeholder{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.subscription-input::-moz-placeholder,
 :-moz-placeholder {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.sub{
  border: none;
  cursor: pointer;
  padding: 10px 19px 11px 19px;
  margin-left: 8px;
}

.subscription-form{
  margin-top: 35px;
}

.map{
  width: 1200px;
  position: relative;
  margin: 0 auto 32px;
}

.feedback{
  position: absolute;
  top: 63px;
  right: 27px;
  width: 277px;
  min-height: 275px;
  background-color: #fff;
  border-radius: 15px;
  padding-top:30px;
  padding-left: 25px;
}

.feedback p{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  margin:0 0 0 0;
}

.address,
.feedback-phone{
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

.feedback p:nth-child(3){
  margin-top: 20px;
}
.feedback p:nth-child(4){
  margin-top: 6px;
}
.feedback p:nth-child(5){
  margin-top: 1px;
  margin-bottom: 35px;
}
.feedback-btn{
  padding: 11px 28px 11px 28px;

}
.map-pin{
  position: absolute;
  background-image: url(../img/svg/pin.svg);
  width: 80px;
  height: 140px;
  top: 139px;
  left: 266px;
}

.map-pin::before{
  content: "";
  position: absolute;
  background-image: url(../img/content/shadow-pin.png);
  width: 182px;
  height: 110px;
  top: 32px;
  left: 39px;
}


.main-footer{
  display: flex;
  justify-content: space-between;
}
.socials-list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.socials-list li{
  margin-right: 11px;
}

.social-button{
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border:3px solid rgba(255,255,255,0.5);
  z-index: 10;

}

.social-link a{
  width: 32px;
  height: 32px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social-button path{
  opacity: 0.8;
}
.social-button:hover path{
  opacity: 1;
}
.social-button:active path{
  fill: rgba(233,233,233,0.7);

}
.social-button:active{
  border:3px solid rgba(255,255,255,0.7);
  box-shadow: inset 0 2px 1px 0 rgba(0,0,0,1);
}

.footer-menu{
  display: flex;
  flex-wrap: wrap;
  margin: -2px -3px 0 0;

}

.footer-menu-left,
.footer-menu-right{
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.footer-menu-right{
padding-left: 25px;
}


.footer-menu li{
  margin-right: 20px;

}
.footer-menu a{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer-menu a:hover,
.footer-menu a:active{
  color: #ffbc9e;
}

.logo-creator{
  margin-top: -16px;
}

.logo-creator p{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
  margin: 0;
}

.footer-menu-left li::before{
  content: "";
  position: absolute;
  background-image: url(../img/svg/heart.svg);
  width:15px;
  height: 13px;
  top: 3px;
  left: -21px;

}


