@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto.woff) format("woff"),
  url(../fonts/roboto.woff2) format("woff2");
url(../fonts/robotobold.woff) format("woff"),
url(../fonts/robotobold.woff2) format("woff2"),
url(../fonts/robotomedium.woff) format("woff"),
url(../fonts/robotomedium.woff2) format("woff2");
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header,
.main-content,
.catalog-content,
.main-footer {
  width: 1146px;
  padding: 0 27px 0 27px;
  margin: 0 auto;
}

.catalog-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 28px;
}

.main-header-logo img {
  margin-top: 9px;
}

.site-navigation {
  list-style: none;
  margin: 0 0 0 9px;
  padding: 0;
}

.site-navigation a {
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 0 15px;

}

.main-navigation-underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.main-navigation-underline:hover,
.main-navigation-underline:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.main-navigation-underline:active {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.navigation-underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.navigation-underline:hover,
.navigation-underline:focus {
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);

}

.navigation-underline:active {
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.navigation-item > a.current {
  background-color: rgba(208, 112, 88, 1);
  border-radius: 20px;
  text-decoration: none;
  padding: 7px 15px;
}

.navigation-item > a:hover,
.navigation-item > a:focus {
  color: #323232;
  background-color: rgba(248, 247, 244, 1);
  border-radius: 20px;
  text-decoration: none;
  padding: 7px 15px;
}

.navigation-item > a:active {
  box-shadow: inset 0 2px 1px 0 #696969;
  background-color: #ededed;
}

.current > .main-navigation-underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.navigation-item {
  position: relative;
}

.user-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-navigation a {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.user-navigation a {
  background-color: rgba(255, 255, 255, 0.2);

}

.user-search a {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user-search a:hover,
.user-search a:focus {
  background-color: rgba(255, 255, 255, 1);
}

.user-search a:hover path,
.user-search a:focus path {
  fill: #323232;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.user-navigation {
  display: flex;
  margin: 0 0 0 auto;
}

.user-navigation li {
  margin: 0 10px 0 0;
}

.user-navigation li:last-child {
  margin-right: 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.user-link a,
.user-cart a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 15px 9px 45px;
  border-radius: 20px;
  position: relative;
}

.icon-enter,
.icon-cart {
  position: absolute;
  left: 17px;
}

.user-link a:hover,
.user-link a:focus {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
}

.user-cart a:hover,
.user-cart a:focus {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
}

.user-link a:hover path,
.user-link a:focus path {
  fill: #323232;
}

.user-cart a:hover g,
.user-cart a:focus g {
  fill: #323232;
}

.site-navigation-submenu p {
  padding: 0;
  margin: 0;

}

.site-navigation-submenu {
  position: absolute;
  left: 1px;
  display: none;
  margin: 0;
  padding: 0 0 8px 0;
  list-style: none;
  background-color: rgba(248, 247, 244, 1);
  border-radius: 5px;
  width: 144px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 50;
}

.site-navigation-submenu a {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-weight: 400;
  display: block;
  padding: 8px 20px;
}

.site-navigation-submenu p {
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-weight: 700;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.active a {
  color: #fff;
  background-color: rgba(208, 112, 88, 1);
}

.active a:hover {
  color: #323232;
  background-color: rgba(208, 112, 88, 0);
}

.site-navigation > li:hover .site-navigation-submenu,
.site-navigation > li:focus-within .site-navigation-submenu {
  display: block;

}

.site-navigation-submenu li:hover > a,
.site-navigation-submenu li:focus > a {
  background-color: #fbded7;
}

.site-navigation-submenu li:active a {
  background-color: #f6b5a5;
}

.navigation-item .site-navigation-submenu > li:focus-within {
  background-color: #fbded7;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url(../img/content/ice-cream-3.png),
  url(../img/content/ice-cream-4.png);
}

.site-wrapper::after {
  background-image: url(../img/content/ice-cream-5.png),
  url(../img/content/ice-cream-6.png);
}

.catalog-wrapper {
  background-color: #849d8f;

}

.site-wrapper {
  background: url(../img/content/ice-cream-1.png) no-repeat 42% 83px,
  url(../img/content/ice-cream-2.png) no-repeat 59% 126px,
  url(../img/content/light.png) no-repeat 50% 0 #849d8f;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

#product-1:checked ~ .site-wrapper {
  background: url(../img/content/ice-cream-1.png) no-repeat 42% 83px,
  url(../img/content/ice-cream-2.png) no-repeat 59% 126px,
  url(../img/content/light.png) no-repeat 50% 0 #849d8f;
}

#product-2:checked ~ .site-wrapper {
  background: url(../img/content/ice-cream-3.png) no-repeat 42% 83px,
  url(../img/content/ice-cream-4.png) no-repeat 59% 126px,
  url(../img/content/light-2.png) no-repeat 50% 0 #8996a6;
}

#product-3:checked ~ .site-wrapper {
  background: url(../img/content/ice-cream-5.png) no-repeat 42% 83px,
  url(../img/content/ice-cream-6.png) no-repeat 59% 126px,
  url(../img/content/light-3.png) no-repeat 50% 0 #9d8b84;
}

.user-search,
.user-link,
.user-cart {
  position: relative;
}

.modal {
  display: none;
}

.modal-search {
  width: 341px;
  min-height: 84px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  position: absolute;
  top: 35px;
  right: 0;
}

.modal-login {
  position: absolute;
  top: 35px;
  right: 0;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  width: 277px;
  min-height: 214px;
  z-index: 100;
}

.modal-feedback {
  position: fixed;
  width: 454px;
  top: 250px;
  left: 50%;
  margin-left: -227px;
  margin-top: -10px;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 27px;
  background-color: #f8f7f4;
  border-radius: 10px;
  z-index: 999999999;
  display: none;
}

@keyframes drop {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-feedback-show {
  display: block;
  animation-name: drop;
  animation-duration: 0.6s;
}

.modal-feedback h2 {
  margin: 0;

}

.modal-feedback input,
.modal-feedback textarea {
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #323232;
  padding: 9px 15px;
}

.modal-feedback input {
  width: 235px;
}

.modal-feedback input:hover,
.modal-search input:hover,
.modal-login input:hover,
.subscription-input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
  padding: 8px 15px;
}

.modal-feedback input:focus,
.modal-search input:focus,
.modal-login input:focus,
.subscription-input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: 2px rgba(46, 136, 228, 0.52);
  padding: 8px 15px;
}

.modal-feedback textarea {
  width: 396px;
  padding-top: 13px;
  min-height: 155px;
}

.modal-feedback textarea:hover {
  min-height: 153px;
  border: 2px solid rgba(154, 154, 154, 0.52);

}

.modal-feedback textarea:focus {
  min-height: 153px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: 2px rgba(46, 136, 228, 0.52);
}

.modal-feedback-btn {
  border: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #fefefe;
  padding: 11px 24px 10px 24px;
  text-align: right;
  float: right;
  margin-right: 25px;
  z-index: 99999;
  cursor: pointer;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
}

.overlay-show {
  display: block;
}

.close-modal-feedback {
  width: 17px;
  height: 17px;
  border: none;
  background: transparent url(../img/svg/cross-big.svg);
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 18px;

}

.user-search:hover .modal,
.user-link:hover .modal,
.user-cart:hover .modal,
.user-search:focus-within > .modal,
.user-link:focus-within > .modal,
.user-cart:focus-within > .modal {
  display: block;
  z-index: 50;
}

.search-form input {
  width: 281px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  margin: 20px 15px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  padding: 9px 15px;
}

.modal-login input {
  border-radius: 5px;
  border: solid 1px #d3d3d2;
  background-color: #ffffff;
  width: 211px;
  margin-top: 10px;
  margin-left: 19px;
  padding: 9px 15px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #323232;
}

.search-form input::-webkit-input-placeholder,
.login-form input::-webkit-input-placeholder,
.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #999;
}

.wrapper-login-btn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;
  margin-left: 5px;
  justify-content: space-between;

}

.wrapper-login-link {
  flex-direction: column;
  margin-top: 10px;
  margin-right: 19px;
}

.login-btn {
  border: none;
  padding: 11px 25px 10px 24px;
  margin-left: 15px;
  margin-top: 10px;
  height: 44px;
}

.user-navigation .link-password,
.user-navigation .link-registration {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
}

.user-navigation .link-password:hover,
.user-navigation .link-registration:hover,
.user-navigation .link-password:focus,
.user-navigation .link-registration:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #e84d37;
  text-decoration-color: rgba(236, 89, 60, 0.3);
}

.user-navigation .link-password:active,
.user-navigation .link-registration:active {
  background-color: rgba(255, 255, 255, 0);
  color: #e84d37;
  text-decoration-color: rgba(236, 89, 60, 0.3);

}

.cart {
  position: absolute;
  width: 509px;
  right: 0;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  padding: 15px;
  top: 35px;
  z-index: 100;
}

.cart-price {
  color: #999;
}

.cart-cost {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}

.cart-cost span {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #323232;

}

.cart-cost .order-btn {
  padding: 10px 14px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
  margin-top: 14px;
  margin-bottom: 7px;
}

.cart-cost .order-btn:hover,
.cart-cost .order-btn:focus {
  color: #fefefe;
}

.cart-item-weight,
.cart-item-price {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  margin-bottom: 20px;
}

.cart-item-weight {
  margin-right: 30px;
}

.cart-item .cart-link {
  padding: 0 0 0 0;
  margin-right: 15px;
  margin-bottom: 20px;

}

.cart-list {
  margin-bottom: 14px;
  list-style: none;
  border-bottom: 1px solid #cacac7;
  padding: 5px 5px 6px 5px;
}

.cart-item a {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  width: 280px;
}

.delete-cart-btn {
  width: 11px;
  height: 11px;
  right: 9px;
  top: 9px;
  background: transparent url(../img/svg/cross-small.svg) no-repeat;
  border: none;
  cursor: pointer;
  font-size: 0;
  margin-right: 9px;
  margin-bottom: 20px;
}

.cart-link img {
  border-radius: 50%;
  margin-right: 14px;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 0;

}

.slider {
  position: relative;
  padding-top: 260px;
  text-align: center;
  color: #ffffff;
  width: 1146px;
  margin: 0 auto 42px;
}

.slide-title {
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  width: 700px;
  margin: 0 auto 29px;
}

.slide {
  display: none;
}

.btn {
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);

}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);

}

.main-btn {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 280px;
  justify-content: center;
  font-size: 32px;
  line-height: 1.38;
  padding: 10px 0;
  border-radius: 30px;
}

.header-contact {
  text-align: right;
}

.header-time-mode {
  padding: 0;
  margin: -4px 0 0 0;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.header-phone {
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  padding: 0;
  margin: 5px 0 0 0;
}

.slider-list {
  padding: 0;
  list-style: none;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #fff;
}

.slider-check-input,
.check-input-radio,
.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.check-box {
  position: absolute;
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.slider-check-input:checked + .check-box {
  background-color: #fff;
}

.check-box:hover,
.check-box:focus {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

.offer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.offer-left,
.offer-right {
  width: 560px;
  padding: 16px 16px 58px 16px;

}

.offer h3 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 35px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.offer-left {
  background: #cb1748 url(../img/content/raspberry-background.jpg) no-repeat;
  border-radius: 15px;
  width: 528px;

}

.offer-right {
  background: #906652 url(../img/content/chocolate-backround.jpg) no-repeat;
  border-radius: 15px;
  width: 528px;
}

.offer p {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 18px 0 55px 4px;
}

.offer-left,
.offer-right {
  position: relative;

}

.offer-btn {
  position: absolute;
  padding: 12px 23px;
  right: 21px;
  bottom: 23px;
}

.product-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1146px;

}

.product-item img {
  border-radius: 50%;
  align-self: center;

}

.product-item {
  width: 267px;
  min-height: 336px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  margin-bottom: 26px;

}

.product-item::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -13px;
  width: 293px;
  height: 405px;
  border-radius: 5px;
  z-index: 20;
}

.product-price {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: relative;

}

.product-weight {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 30px;
}

.product-price::after {
  content: "";
  position: absolute;
  background: url(../img/svg/ruble.svg) no-repeat;
  width: 31px;
  height: 36px;
  top: 10px;
  left: 80px;
}

.product-item a {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: block;
  margin-top: 10px;
  align-self: center;
  margin-bottom: 15px;
  z-index: 6;
}

.product-item a:hover,
.product-item a:focus {
  color: #ffbc9e;

}

.wrapper-price {
  position: absolute;
  top: 209px;
  z-index: 5;
}

.hit::before {
  content: "";
  position: absolute;
  background: url(../img/svg/hit.svg) no-repeat;
  width: 61px;
  height: 61px;
  z-index: 4;
}

.product-item::after {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  z-index: -1;

}

.product-item:hover,
.product-item:focus-within {
  z-index: 10;
}

.product-item:hover > .product-btn,
.product-item:focus-within > .product-btn {
  display: block;
  z-index: 2;

}

.product-btn {
  position: absolute;
  bottom: -63px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #fefefe;
  padding: 11px 16px;
  align-self: center;
  border: none;
  display: none;
  margin: 0 0 22px;
  cursor: pointer;
}

.features {
  background: #eee2c9 url(../img/content/wafer-background.jpg);
  border-radius: 10px;
  padding: 25px 33px 12px 21px;
  margin-bottom: 41px;

}

.features h3 {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

.features-list {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item p {
  margin: 0;
  padding-left: 60px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

.features-list li:nth-child(2n) p {
  padding-left: 75px;
}

.features-list li {
  position: relative;
  width: 50%;
  margin-bottom: 9px;
  margin-top: 18px;

}

.ice-cream::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url(../img/svg/ice-cream.svg);
  top: -10px;
  left: 0;
}

.cow::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url(../img/svg/cow.svg);
  top: -10px;
  left: 18px;
}

.thermometer::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background: url(../img/svg/thermometer.svg) no-repeat;
  top: -16px;
  left: 18px;
}

.eco::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background: url(../img/svg/eco.svg) no-repeat;
  top: -16px;
  left: 0;
}

.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 39px;

}

.news-blog {
  width: 545px;
  min-height: 194px;
  border-radius: 15px;
  padding-top: 26px;
  padding-left: 15px;
  background: #fff url(../img/content/strawberry-background.jpg) no-repeat;
}

.news-blog p {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

.news-blog a {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  text-decoration: underline;
}

.subscription {
  width: 530px;
  padding-top: 29px;
  padding-left: 20px;
  border: 5px solid #f8f7f4;
  border-image: url(../img/content/subscription-background.png) 5 round round;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscription p {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5a5a5a;
  margin: 0;
}

.subscription-input {
  width: 368px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
  padding: 9px 15px;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #323232;

}

.subscription-input::-webkit-input-placeholder {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.subscription-input::-moz-placeholder,
:-moz-placeholder {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.sub {
  border: none;
  cursor: pointer;
  padding: 10px 19px 11px 19px;
  margin-left: 8px;
}

.subscription-form {
  margin-top: 35px;
}

.map {
  width: 1200px;
  position: relative;
  margin: 0 auto 32px;
}

.yandex-map {
  width: 1200px;
  height: 430px;
  background-image: url(../img/content/map.jpg);
}

.feedback {
  position: absolute;
  top: 63px;
  right: 27px;
  width: 277px;
  min-height: 275px;
  background-color: #fff;
  border-radius: 15px;
  padding-top: 30px;
  padding-left: 25px;
}

.feedback p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  margin: 0 0 0 0;
}

.address,
.feedback-phone {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

.feedback p:nth-child(3) {
  margin-top: 20px;
}

.feedback p:nth-child(4) {
  margin-top: 6px;
}

.feedback p:nth-child(5) {
  margin-top: 1px;
  margin-bottom: 35px;
}

.feedback-btn {
  padding: 11px 28px 11px 28px;

}

/*.map-pin {*/
/*  position: absolute;*/
/*  background-image: url(../img/svg/pin.svg);*/
/*  width: 80px;*/
/*  height: 140px;*/
/*  top: 139px;*/
/*  left: 266px;*/
/*}*/

/*.map-pin::before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  background-image: url(../img/content/shadow-pin.png);*/
/*  width: 182px;*/
/*  height: 110px;*/
/*  top: 32px;*/
/*  left: 39px;*/
/*}*/

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 37px;
  padding-bottom: 20px;
}

.socials-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 196px;
}

.socials-list li {
  margin-right: 11px;
}

.social-link a {
  width: 32px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-button path {
  opacity: 0.8;
}

.social-button:hover path,
.social-button:focus path {
  opacity: 1;
}

.social-button:active path {
  fill: rgba(233, 233, 233, 0.7);
}

.social-button:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 1);
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin: -2px -3px 0 0;

}

.footer-menu-left,
.footer-menu-right {
  padding: 0;
  margin: 0 -12px 0 0;
  list-style: none;
  position: relative;
}

.footer-menu-right {
  padding-left: 25px;
}

.footer-menu li {
  margin-right: 20px;

}

.footer-menu a {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-menu a:active {
  color: #ffbc9e;
}

.logo-creator {
  margin-top: -16px;
}

.logo-creator p {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
  margin: 0;
}

.footer-menu-left li::before {
  content: "";
  position: absolute;
  background-image: url(../img/svg/heart.svg);
  width: 15px;
  height: 13px;
  top: 3px;
  left: -21px;

}

/*Catalog*/

.catalog_breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

.catalog-filters {
  margin-top: -19px;
  margin-bottom: 40px;
}

.catalog_breadcrumbs a {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.catalog_breadcrumbs li {
  margin-right: 5px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.catalog_breadcrumbs li::after {
  content: "\00bb";
  width: 2px;
  height: 2px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 10px;
}

.catalog_breadcrumbs li:last-child::after {
  content: none;
}

.catalog_breadcrumbs a:hover,
.catalog_breadcrumbs a:focus {
  color: #ffbc9e;
}

.catalog-filters h3 {
  font-size: 35px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 7px 0 27px 0;
}

.filters-label {
  border: none;
  margin: 0 15px 0 0;
  padding: 0;
}

.wrapper-filters {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 14px 0;
}

.filter-title {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 0 0 6px 15px;
}

.filter-title input {
  padding: 0;
}

.label-bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
}

.sort {
  position: relative;
  margin: 0 0 0 0;
  width: 193px;
  min-height: 37px;
}

.sort select {
  background: transparent;
  border: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 9px 32px 9px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 2;
  min-height: 37px;
}

/*Убирает стрелку в select lkz IE 11 */
select::-ms-expand {
  display: none;
}

.sort select:hover + .sort-icon-down path,
.sort select:focus + .sort-icon-down path {
  fill: #323232;
}

.sort:hover select,
.sort:focus-within select {
  color: #323232;
}

.sort:hover path,
.sort:focus path {
  fill: #323232;
}

.sort-icon-down {
  position: absolute;
  width: 11px;
  height: 10px;
  top: 13px;
  right: 13px;
  z-index: 1;
}

.sort-icon-down path {
  fill: #fff;
}

/*Slider range price*/

.slider-range {
  position: relative;
  width: 220px;
  min-height: 37px;
}

.range {
  position: absolute;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
  width: 80%;
  top: 16px;
  left: 23px;

}

.active-range {
  position: absolute;
  height: 4px;
  background-color: rgba(248, 247, 244, 1);
  width: 44%;
  top: 16px;
  left: 44px;
}

.circle {
  position: absolute;
  top: 8px;
  left: 35px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.circle-right {
  left: 133px;
}

.price-range input {
  width: 25px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #ffffff;
  border: none;
  text-align: center;
  background-color: transparent;
}

.container-radio {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  min-height: 37px;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;

}

.container-radio li {
  position: relative;
  margin-right: 20px;
  padding-left: 30px;
}

.container-radio li:first-child {
  margin-left: 13px;
}

.custom-radio {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  margin: 0 0 0 0;
  top: -1px;
  left: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.custom-radio:hover,
.custom-radio:focus {
  border: 3px solid rgba(255, 255, 255, 1);
}

.check-input-radio:checked + * span::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.check-input-radio:disabled + * .custom-radio {
  opacity: 0.4;
}

.check-input-radio:checked:hover + * span::before,
.check-input-radio:checked:focus + * span::before {
  background-color: rgba(255, 255, 255, 1);

}

.check-input-radio:disabled + * span::before {
  opacity: 0.4;
}

.container-checkbox li:focus-within > label > .custom-checkbox {
  outline: 2px dotted rgba(255, 255, 255, 0.52);
}

.container-radio li:focus-within > label > .custom-radio {
  outline: 2px dotted rgba(255, 255, 255, 0.52);
}

.container-checkbox li:active > label > .custom-checkbox {
  outline: none;
}

.fill-box {
  position: relative;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

}

.container-checkbox {
  min-height: 37px;
  width: 703px;
  padding: 0 0 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-checkbox li {
  margin-right: 20px;
  padding-left: 34px;

}

.container-checkbox li:first-child {
  margin-left: 7px;
}

.custom-checkbox {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  top: 1px;
  left: -27px;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.custom-checkbox:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

.checkbox-input:checked + * .break::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 11px;
  background-color: #abbcb2;
  top: 1px;
  left: -9px;
  z-index: 1;
  border-top-right-radius: 5px;

}

.checkbox-input:checked + * span::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  background-image: url(../img/svg/check-on.svg);
  top: -4px;
  left: -3px;
  z-index: 2;
  opacity: 0.8;
}

.checkbox-input:disabled + * .custom-checkbox {
  opacity: 0.4;
}

.checkbox-input:checked:hover + * span::before,
.checkbox-input:checked:focus + * span::before {
  opacity: 1;
}

.checkbox-input:disabled + * span::before {
  opacity: 0.4;
}

.checkbox-input:checked:active + * span::before {
  outline: none;
}

.filter-btn {
  background-color: rgba(255, 255, 255, 0.19);
  border: 2px solid #fff;
  border-radius: 30px;
  height: 37px;
  width: 144px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);

}

.filter-btn:active {
  box-shadow: inset 0 2px 1px 0 #696969;
  background-color: #ededed;
  border: none;
}

.pagination_list {
  padding: 0;
  margin: 43px -8px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pagination_list a {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.pagination_list a:hover,
.pagination_list a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination_list li:first-child:hover a,
.pagination_list li:last-child:hover a,
.pagination_list li:first-child:focus a,
.pagination_list li:last-child:focus a {
  background-color: rgba(255, 255, 255, 0);
}

.pagination_list li {
  margin-right: 4px;
}

.pagination_list li:last-child {
  margin-right: 0;

}

.icon-arrow-left {
  transform: rotate(180deg);
}

.pagination-item-current a {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 1);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #323232;
  justify-content: center;
  align-items: center;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: rgba(255, 255, 255, 1);
}

.empty {
  display: none;
}

.user-navigation .not-empty-cart {
  background-color: #f7f6f3;
  color: #323232;

}

.back path {
  fill: rgba(255, 255, 255, 0.2);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fff,
  0 0 0 6px rgba(46, 136, 228, 0.52);
}

.btn:active {
  outline: none;
  box-shadow: none;
}

a:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

a:active {
  outline: none;
  box-shadow: none;
}

input[type=submit]:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}
